In [ ]:
import pandas as pd

In [3]:
male_train = pd.read_csv('male_train.csv', header=None)
male_train.head()

         0        1  2
0   M43730  F121907  2
1  M113166   F75270  2
2   M59581  F102246  2
3   M99767  F120746  2
4   M95580  F128085  2

In [5]:
male_test = pd.read_csv('male_test.csv', header=None)
male_test.head()

         0        1  2
0  M120607  F109311  2
1   M31194  F115455  2
2  M104565   F21494  2
3   M52359  F133596  2
4    M9930  F131881  2

In [10]:
train_female_match = set(male_train.iloc[:, 1][male_train.iloc[:, 2]==2])
test_female_match =set(male_test.iloc[:, 1][male_test.iloc[:, 2]==2])
print(len(train_female_match), len(test_female_match), len(train_female_match&test_female_match), len(train_female_match|test_female_match))

8098 4051 3199 8950