In [1]:
import pandas as pd

In [2]:
male_train = pd.read_csv('male_train.csv', header=None)
male_train.head()

         0        1  2
0   M57580  F114534  2
1   M21032  F119810  2
2   M15701   F76438  2
3   M58998  F123671  2
4  M115084   F99291  2

In [3]:
male_test = pd.read_csv('male_test.csv', header=None)
male_test.head()

        0        1  2
0  M29782   F54775  2
1  M51219  F130282  2
2  M87458   F25047  2
3  M84151  F128313  2
4  M81356   F25095  2

In [5]:
train_female_match = set(male_train.iloc[:, 1][male_train.iloc[:, 2]==2])
test_female_match =set(male_test.iloc[:, 1][male_test.iloc[:, 2]==2])
print(len(train_female_match), len(test_female_match), len(train_female_match&test_female_match), len(train_female_match|test_female_match))
print(len(train_female_match&test_female_match) / len(train_female_match))

6506 6470 4026 8950
0.6188134030126038